img {
    width: 100%;
}

div#b2 {
    background-color: ##FFC300;
    border-radius: 6px;
}

p {
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

h3 {
    font-family: Courier New;
}

li {
    font-family: Arial;
}